# dependencies
node_modules
**/*/node_modules

# lerna
lerna-debug.log

# lock files
yarn.lock
package-lock.json
**/**/yarn.lock
**/**/package-lock.json
yarn-error.log

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics
*/**/.coverage_*

# truffle and aragon build artifacts
*/**/abi
*/**/abis.json
*/**/arapp_local.json
*/**/flattened_contracts
*/**/build
*/**/cache
*/**/artifacts
*/**/dist

# keep abis used in the frontend
!apps/marketplace-controller/app/src/abi

# macOS shit
*/**/.DS_Store

.idea
